---
name: Available Icons
order: 1
sourceless: true
---

<ul class="drizzle-Icons">
  <li class="drizzle-Icon">
    {{svg "twitter" class="Icon Icon--twitter"}}
    <span class="drizzle-Icon-label">
      Twitter
    </span>
  </li>
  <li class="drizzle-Icon">
    {{svg "dribbble" class="Icon Icon--dribbble"}}
    <span class="drizzle-Icon-label">
      Dribble
    </span>
  </li>
  <li class="drizzle-Icon">
    {{svg "git" class="Icon Icon--git"}}
    <span class="drizzle-Icon-label">
      Git
    </span>
  </li>
  <li class="drizzle-Icon">
    {{svg "spotify" class="Icon Icon--spotify"}}
    <span class="drizzle-Icon-label">
      Spotify
    </span>
  </li>
  <li class="drizzle-Icon">
    {{svg "envelope" class="Icon"}}
    <span class="drizzle-Icon-label">
      Envelope
    </span>
  </li>
</ul>
